# Assignment Day 1

### List

In [1]:
# Explore default List methods (List - mutable, ordered list of objects)
my_list = ['wolf', 'lion', [4, 1, 1997], 88.5, 44.2, ['ant', 'boot']]
print(my_list)
print(type(my_list))

['wolf', 'lion', [4, 1, 1997], 88.5, 44.2, ['ant', 'boot']]
<class 'list'>

In [2]:
# Append - Add an item to the end of the list.
my_list.append('add_value')
my_list.append('wolf')
print(my_list)

['wolf', 'lion', [4, 1, 1997], 88.5, 44.2, ['ant', 'boot'], 'add_value', 'wolf']

In [3]:
# Sort - Sorts the item of list in place.
my_list[2].sort()
print(my_list)

['wolf', 'lion', [1, 4, 1997], 88.5, 44.2, ['ant', 'boot'], 'add_value', 'wolf']

In [4]:
# Count - Returns the number of times x appears in the list
my_list.count('wolf')

2

In [5]:
# Insert - Insert an item at a given position
my_list.insert(2, 'inserted_value')
print(my_list)

['wolf', 'lion', 'inserted_value', [1, 4, 1997], 88.5, 44.2, ['ant', 'boot'], 'add_value', 'wolf']

In [6]:
# Reverse - Reverses the items of the list in place.
my_list[3].reverse()
print(my_list)

['wolf', 'lion', 'inserted_value', [1997, 4, 1], 88.5, 44.2, ['ant', 'boot'], 'add_value', 'wolf']

In [7]:
# Pop - Remove and returns the last item in the list (if no index is specified).
print('Removed Item:', my_list.pop())
print(my_list)

Removed Item: wolf
['wolf', 'lion', 'inserted_value', [1997, 4, 1], 88.5, 44.2, ['ant', 'boot'], 'add_value']

In [8]:
# Remove - Removes the first item from the list that has a value of x.
my_list.remove('inserted_value')
print(my_list)

['wolf', 'lion', [1997, 4, 1], 88.5, 44.2, ['ant', 'boot'], 'add_value']

In [9]:
# Extend - Extend the list by appending all the items from the another list.
my_list.extend(['add', 'new_list', 'to my_list'])
print(my_list)

['wolf', 'lion', [1997, 4, 1], 88.5, 44.2, ['ant', 'boot'], 'add_value', 'add', 'new_list', 'to my_list']

In [10]:
# Index - Returns the position of the first list item that has a value of x.
my_list.index(88.5)

3

In [11]:
# Copy - Returns a shallow copy of the list.
copied_list = my_list.copy()
print(copied_list)

['wolf', 'lion', [1997, 4, 1], 88.5, 44.2, ['ant', 'boot'], 'add_value', 'add', 'new_list', 'to my_list']

In [12]:
# Clear - Removes all items from the list.
my_list.clear()
print(my_list)

[]

### Dictionary

In [14]:
# Explore default Dictionary methods (Dictionary - Unorder collection of items, stores items in the form of key:value pairs)
house_names = {'srk': 'mannat', 'ambanis': 'antilia', 'amitabh' : 'jalsa', 'ranbir' : 'krishna raj', 'salman' : 'galaxy'}
print(house_names)
print(type(house_names))

{'srk': 'mannat', 'ambanis': 'antilia', 'amitabh': 'jalsa', 'ranbir': 'krishna raj', 'salman': 'galaxy'}
<class 'dict'>

In [15]:
# Get - Return a value of a key
house_names.get('amitabh')

'jalsa'

In [16]:
# Items - Returns dictionary items in a different/simpler view
house_names.items()

dict_items([('srk', 'mannat'), ('ambanis', 'antilia'), ('amitabh', 'jalsa'), ('ranbir', 'krishna raj'), ('salman', 'galaxy')])

In [17]:
# Keys - Return dictionary keys
house_names.keys()

dict_keys(['srk', 'ambanis', 'amitabh', 'ranbir', 'salman'])

In [18]:
# Values - Return dictionary values
house_names.values()

dict_values(['mannat', 'antilia', 'jalsa', 'krishna raj', 'galaxy'])

In [19]:
# fromkeys - Return a new dictionary with keys from [seq] and value equal to v.
house_names.fromkeys(['srk', 'ambanis', 'ranbir'], 0)

{'srk': 0, 'ambanis': 0, 'ranbir': 0}

In [20]:
# Pop - Remove the item with mentioned key and returns its value.
print('Removed value:', house_names.pop('ranbir'))
print(house_names)

Removed value: krishna raj
{'srk': 'mannat', 'ambanis': 'antilia', 'amitabh': 'jalsa', 'salman': 'galaxy'}

In [21]:
# popitem - Remove and returns an arbitary item
house_names.popitem()

('salman', 'galaxy')

In [22]:
# setdefault - If key is in the dictionary, returns its value. If not, insert key with a value v.
house_names.setdefault('srk')

'mannat'

In [23]:
print(house_names)

{'srk': 'mannat', 'ambanis': 'antilia', 'amitabh': 'jalsa'}

In [24]:
house_names.setdefault('ranbir')
print(house_names)

{'srk': 'mannat', 'ambanis': 'antilia', 'amitabh': 'jalsa', 'ranbir': None}

In [25]:
# Update - Updates dictionary with the elements from another dictionary.
add_names = {'shilpa' : 'kundras'}
house_names.update(add_names)
print(house_names)

{'srk': 'mannat', 'ambanis': 'antilia', 'amitabh': 'jalsa', 'ranbir': None, 'shilpa': 'kundras'}

In [26]:
# Copy - Returns a shallow copy of the dictionary
copied_dict = house_names.copy()
copied_dict

{'srk': 'mannat',
 'ambanis': 'antilia',
 'amitabh': 'jalsa',
 'ranbir': None,
 'shilpa': 'kundras'}

In [27]:
# Clear - Remove all items from the dictionary
house_names.clear()
print(house_names)

{}

### Sets

In [28]:
# Explore default Set methods (Sets - immutable, unordered objects of unique values)
my_set = {2, 3.4, 'Hello', 56, 78, 'World', 90, 3.4}
print(my_set)
print(type(my_set))

{2, 3.4, 'Hello', 78, 'World', 56, 90}
<class 'set'>

In [29]:
# Add -  Adds an element to the set
my_set.add('Welcome to Python')
print(my_set)

{2, 3.4, 'Hello', 78, 'World', 56, 90, 'Welcome to Python'}

In [30]:
# Discard - Removes an element from the set
my_set.discard('Hello')
print(my_set)

{2, 3.4, 78, 'World', 56, 90, 'Welcome to Python'}

In [31]:
# Pop - Removes and returns an arbitary element
print('Removed element:', my_set.pop())
print(my_set)

Removed element: 2
{3.4, 78, 'World', 56, 90, 'Welcome to Python'}

In [32]:
# Remove - Remove an element from the set
my_set.remove(56)
print(my_set)

{3.4, 78, 'World', 90, 'Welcome to Python'}

In [33]:
# Update - Update the set with union of itself and others
my_set.update([2, 56])
print(my_set)

{3.4, 2, 78, 'World', 56, 90, 'Welcome to Python'}

In [44]:
my_set = {2, 3.4, 'Hello', 56, 78, 'World', 90, 3.4}
print(my_set)

{2, 3.4, 'Hello', 78, 'World', 56, 90}

In [45]:
my_set2 = {2, 54, 87, 90, 'New', 'Set'}
print(my_set2)

{2, 'New', 54, 87, 90, 'Set'}

In [36]:
# Union - Returns the union of two sets as a new set
print(my_set.union(my_set2))

{2, 3.4, 'Hello', 78, 'World', 'New', 54, 87, 56, 90, 'Set'}

In [37]:
# Difference - Returns the differnce of two sets as a new set
print(my_set.difference(my_set2))

{3.4, 'Hello', 78, 'World', 56}

In [38]:
# Symmetric Difference - Returns symmetrical difference of two sets as a new set
print(my_set.symmetric_difference(my_set2))

{3.4, 'Hello', 78, 87, 'World', 'New', 54, 56, 'Set'}

In [39]:
# Intersection - Returns the intersection of two sets as a new set
print(my_set.intersection(my_set2))

{2, 90}

In [40]:
# Intersection Update - Updates the set with intersection of itself and another
print(my_set.intersection_update(my_set2))
print(my_set)
print(my_set2)

None
{2, 90}
{2, 'New', 54, 87, 90, 'Set'}

In [47]:
# Difference Update - Removes all elements of another set from this set
print(my_set.difference_update(my_set2))
print(my_set)
print(my_set2)

None
{3.4, 'Hello', 78, 'World', 56}
{2, 'New', 54, 87, 90, 'Set'}

In [48]:
# issubset - Returns True if another set contains this set
print(my_set.issubset(my_set2))
print(my_set2.issubset(my_set))

False
False

In [49]:
# isdisjoint - Returns True if two sets have a null intersection
print(my_set.isdisjoint(my_set2))
print(my_set2.isdisjoint(my_set))

True
True

In [50]:
# issuperset - Returns True if this set contains another set
print(my_set.issuperset(my_set2))
print(my_set2.issuperset(my_set))

False
False

In [51]:
# Copy - Returns a copy of set
my_set.copy()

{3.4, 56, 78, 'Hello', 'World'}

In [53]:
# Clear - Removes all elements from the set
my_set2.clear()
print(my_set2)

set()

# Thank You